.rectwarning {
	fill: green !important;
}

.legend {
	font-family: Verdana;
	font-size: 15px;
	fill: orange;
}

.cabecera {
	font-family: Verdana;
	font-size: 30px;
	font-weight: bold;
}
.text {
	font-family: Verdana;
	font-size: 20px;
	fill: green;
}

#map:hover {
	fill: red;
}


#graph {
	width: 800px;
	height: 400px;
}